@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --container: 1320px;
    --txt-color: #000000;
} 

/* Reset default margin */
* {
    margin: 0;
}
.popup{
    position: fixed;
    left: 120px;
    top: 200px;
    /* height: 500px; */
    background: #fff;
    box-shadow:3px 3px 10px rgba(0,0,0,.3);
    /* border-radius:10px; */
    padding: 30px 20px 30px 20px;
    display: none;
    z-index: 1;
    text-align: center;
    background: white;
    border-radius: 5px;
}
.popup hr{
    margin: 20px;
}
.popup.show{
    display: block;
}

/* Container styling */ 
.container {
    /* width: var(--container);
    margin: 0 auto; */
    display: flex;
	/* justify-content: space-between; */
	align-items: center;
	/* width: 100%; */
}

/* Header */
.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: none;
    z-index: 1000;
}
.cookie-popup button {
    background: #f1c40f;
    border: none;
    color: #333;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    padding: 20px 0 20px 0;
}


header .slidewrapper {
    margin-bottom: 180px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 850px;
}


header .slidewrapper a{
    color: #fff;
}
#prev .hiddenn,
#next .hiddenn {
    display: none;
}
#prev, #pdprev {
    left: 20px;
}

#next, #pdnext {
    right: 20px;
}

.mtslide{
    position: relative;
    width: 100%;
    display: flex;
    /* left: 45px; */
    overflow: hidden;
}
.mtslide .pdbutton{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 40px;
    transition: 0.3s ease;
    margin-left: 45px;
    color: rgb(218, 218, 218);
}
.mtslide .pdbutton:hover{
    background: rgba(218, 218, 218, .5);
    color: white;
}

.pdinfo li{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
}

.slidewrapper .lrbutton{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
    line-height: 5rem;
    font-size: 20px;
    transition: 0.3s ease;
    background: rgba(199, 199, 199, 0.5);
}
.slidewrapper .lrbutton:hover{
    background: rgba(0,0,0, .5);
}
.slide1 {
    background-image: url(../images/Tric-1_2.jpg)
}

.slide2 {
    background-image: url(../images/Convi-2.jpg)
}

.slide3 {
    background-image: url(../images/Erc-1.jpg)
}
.slide4 {
    background-image: url(../images/arla.png)
}
/* Slide */
.slidewrapper {
    position: relative;
    height: 600px;
    width: 100%;
}

#prev.hiddenn,
#next.hiddenn {
    display: none;
}
#pdprev.hidden,
#pdnext.hidden {
    display: none;
}

.slide-container li.active .contents>*{
    opacity: 1;
    color: #fff;
}

.slide-container>li .contents {
    position: absolute;
    left: 25%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-wrap: wrap;
    width: 500px;
    background: rgba(0,0,0, .5);

}
.slide-container > li .contents > *{
    color: white;
    /* transition: opacity 0.2s 0.4s ease-in-out; */
    /* opacity: 0; */
}
.contents h2{
    font-family: "Roboto Slab";
}
.contents p{
    font-family: 'Montserrat';
}

.slide-container {
    position: relative;
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
    left: 0;
    transition:left 0.4s;
}
.slide-container li{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
}

.top_nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    padding: 0 100px;
}

.logo{
	display: inline-block;
}
.logo a{
	display: inline-block;
}
.header__logo{
	width: 75px;
	height: 50px;
}
.hidden{
    overflow: hidden;
    width: 0;
    height: 0;
    top: -9999em;
    position: absolute;
}
a {
    color: #333;
    text-decoration: none;
}

/* Navigation */
.container ul li {
    position: relative;
    list-style: none;
}
.menuLink {
    font-size: 22px;
	line-height: 60px;
    width: 180px;
}

.main_menu .menuLink>a{
	/* font-size: 22px; */
	margin-bottom: 20px;
}

.main_menu li:hover ul{
	display: block;
}

/* Dropdown menu */
.dropdown {
    position: absolute;
	padding-left: 0;
	width: 180px;
    z-index: 1;
}
.dropdown li:not(:last-child){
	border-bottom: 1px solid black;
}
.main_menu ul{
	position:absolute;
	font-size: 16px;
	display: none;
	border: 1px solid black;
	background: rgba(41, 40, 40, 0.7);
	transition: ease 0.3s;
	/* margin-top: 20px; */
}
.dropdown li{
    /* padding: 0 40px; */
    cursor: pointer;
}
.dropdown li a {
    line-height: 50px;
    color: white;
}

.dropdown li:hover {
    background:rgba(140, 157, 150, .9);
    transition: ease 0.3s;
}
/* Main menu */
.main_menu {
    display: flex;
    text-align: center;
}
.main_menu::after{
	content:''; 
	display:block; 
	clear:both; 
}
.main_menu > li{
	position: relative;
}
main{
    height: 100%;
}
/* Search */
.slidedd{
  padding: 100px;
  justify-content: end;
}
.search {
  /* width: var(--container); */
  /* height: 50px; */
  /* position: relative; */
  display: flex;
  .borderbox {
    display: flex;
    gap: 20px;
    /* justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 0 10px 600px; */
    select{
      border: none;
      border-bottom: 1px solid #000000;
    }
    #size {
      width: 155px;
    }
    .found {
      width: 220px;
        /* height: 25px;
        text-align: center;
        margin: 0 10px 0 30px; */
        border: none;
        border-bottom: 1px solid #000;
    } 
  } 
  input{
    outline: none;
  }
}

.product_slidewrapper{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.mattress_slides{
    display: flex;
    gap: 27px;
}
.shop{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2{
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    /* margin-top: 150px; */
    font-weight: 300;
  }
  a{
    display: inline-block;
    padding: 15px 20px;
    font-family: "Overpass", sans-serif;
    font-size: 22px;
  }
  a:hover{
    background: #8C9D96;
    transition: 0.3s;
    color: #fff;
  }
}
/* Product slide */
/* .product_slidewrapper {
    position: relative;
    display: flex;
    height: 480px;
    margin-top: 70px;
}

.PD_mattress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PD_mattress div {
    width: 197px;
    height: 120px;
}

.PD_mattress h2 {
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.PD_mattress a, .pdinfo a {
    display: inline-block;
    font-size: 22px;
    border: 1px solid #000000;
    background: transparent;
    padding: 15px 30px;
    font-family: "Overpass", sans-serif;
    margin-top: 22px;
    width: 130px;
    height: 35px;
    transition: 0.3s ease;
}

.PD_mattress a:hover, .pdinfo a:hover {
    background: rgba(140, 157, 150, .8);
    border: 1px solid  white;
    color: #fff;
}

/* Mattress list */
/* 
.pdinfo{
    list-style: none;
    transition: 0.3s ease;
    padding-left: 45px;
    display: flex;
    margin-right: 150px;
}
.pdinfo a{
    color: #fff;
}
.whole,.whole img{
    background: black;
    width: 330px; height: 480px;
}
.whole img{
    position: relative;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.whole div{
    position: absolute;
    top: 100px;
    color: #fff;
    font-size: 22px;
    font-family: "Roboto Slab";
    font-weight: 300;
    left: 40%;
    top: 160px;
    line-height: 40px;
    opacity: 0;
    text-align: center;
}
 .pdinfo:hover{
    margin-top: -50px;
} 
.pdinfo:hover .imtext{ 
    display: block;
    text-align: center;
    opacity: 1;
}
.pdinfo:hover img{
    opacity: 0.5;
}
.PD_mattress li{
    list-style: none; 
} */
/* .imtext a{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
} */
#go-top{
    width: 48px;
    height: 48px;
    bottom: 100px;
    right: 200px;
    line-height: 48px;
    position: fixed;
    border: 1px solid #26231e;
    text-align: center;
    color:rgba(38, 35, 30, .7);
    background:	rgba(217, 206, 193, .5);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
#go-top.active{
	opacity: 1;
	pointer-events: auto;
}

/* FOOTER */
footer .company{
    width: 200px;
    text-align: center;
    margin-right: 130px;
}
footer .company h2{
    margin-bottom: 50px;
    font-family: "Roboto Slab";
    font-size: 30px;
    padding-left: 40px;
    text-decoration: underline;
}
footer .sns {
    display: flex;
}
.sns a{
    color: #fff;
}
footer .sns li{
    display: inline-block;
    text-align: center;
    width: 60px;
}
footer .ftnav{
    margin-top: 50px;
    display: flex;
    padding: 60px 0;
    justify-content: center;
    color: #D9CEC1;
    background: rgba(0,0,0,.8); 
}
footer nav{ 
    display: flex;
    text-align: center;
    gap: 130px;
}
footer nav dt{
    font-size: 24px;
    font-family: "Roboto Slab";
    letter-spacing: 5px;
    margin-bottom: 30px;
}
footer nav dd{
    font-size: 16px;
    font-family: "Roboto Slab";
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer dd a{
    color: #D9CEC1;
}
