@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --container: 1320px;
    --txt-color: #000000;
} 

/* Reset default margin */
* {
    margin: 0;
}

/* Container styling */ 
.container {
    width: var(--container);
    margin: 0 auto;
}

/* Header */
header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


header .slidewrapper {
    margin-bottom: 180px;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 600px;
}


header .slidewrapper a{
    color: #fff;
}
#prev .hiddenn,
#next .hiddenn {
    display: none;
}
#prev, #pdprev {
    left: 20px;
}

#next, #pdnext {
    right: 20px;
}

.mtslide{
    position: relative;
    width: 100%;
    display: flex;
    /* left: 45px; */
    overflow: hidden;
}
.mtslide .pdbutton{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 40px;
    transition: 0.3s ease;
    margin-left: 45px;
    color: rgb(218, 218, 218);
}
.mtslide .pdbutton:hover{
    background: rgba(218, 218, 218, .5);
    color: white;
}

.pdinfo li{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
}

.slidewrapper .lrbutton{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
    line-height: 5rem;
    font-size: 20px;
    transition: 0.3s ease;
    background: rgba(199, 199, 199, 0.5);
}
.slidewrapper .lrbutton:hover{
    background: rgba(0,0,0, .5);
}
.slide1 {
    background-image: url(../images/header_banner_hotel_img.jpg)
}

.slide2 {
    background-image: url(../images/banner2.png)
}

.slide3 {
    background-image: url(../images/header_banner_hotel_img.jpg)
}
/* Slide */
.slidewrapper {
    position: relative;
    height: 600px;
    width: 100%;
}

#prev.hiddenn,
#next.hiddenn {
    display: none;
}
#pdprev.hidden,
#pdnext.hidden {
    display: none;
}

.slide-container li.active .contents>*{
    opacity: 1;
    color: #fff;
}

.slide-container>li .contents {
    position: absolute;
    left: 25%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-wrap: wrap;
    width: 500px;
    background: rgba(0,0,0, .5);

}
.slide-container > li .contents > *{
    color: white;
    /* transition: opacity 0.2s 0.4s ease-in-out; */
    /* opacity: 0; */
}
.contents h2{
    font-family: "Roboto Slab";
}
.contents p{
    font-family: 'Montserrat';
}

.slide-container {
    position: relative;
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
    left: 0;
    transition:left 0.4s;
}
.slide-container li{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
}

.top_nav {
    height: 100px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.logo a {
    background: url(../images/header_logo.png) no-repeat;
    width: 79px;
    height: 52px;
    text-decoration: none;
    text-indent: -9999em;
    display: block;
}
.hidden{
    overflow: hidden;
    width: 0;
    height: 0;
    top: -9999em;
    position: absolute;
}
a {
    color: #333;
    text-decoration: none;
}

/* Navigation */
.container ul li {
    /* width: 100px; */
    position: relative;
    /* text-align: center; */
    list-style: none;
    width: 160px;
}
.menuLink {
    font-size: 22px;
}

.menuLink:hover .dropdown li {
    display: block;
    text-align: center;
    top: 10px;
}

/* Dropdown menu */
.dropdown {
    padding: 0;
    transition: ease 0.3s;
}

.dropdown li {
    position: absolute;
    font-size: 16px;
    display: none;
    border: 1px solid black;
    background: rgba(41, 40, 40, 0.7);
    transition: ease 0.3s;
}
.dropdown li a {
    line-height: 45px;
    color: white;
}

.dropdown li:hover {
    background:rgba(140, 157, 150, .9);
}
/* Main menu */
.main_menu {
    display: flex;
    text-align: center;
    left: 0;
    z-index: 1;
}

/* Search */
.search {
    width: var(--container);
    height: 50px;
    position: relative;
}

.search .borderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 0 10px 600px;
}
.borderbox option{
    background:rgb(233, 234, 252);
}

select{
    border: none;
    border-bottom: 1px solid #000000;
}

#size {
    width: 155px;
    height: 25px;
}

#hardness {
    width: 170px;
    height: 25px;
    margin-left: 40px;
}

.found {
    height: 25px;
    width: 220px;
    text-align: center;
    margin: 0 10px 0 30px;
    border: none;
    border-bottom: 1px solid #000;
}
.see {
    width: 30px;
    height: 30px;
    color: black;
}

/* Product slide */
.product_slidewrapper {
    position: relative;
    display: flex;
    height: 480px;
    margin-top: 70px;
}

.PD_mattress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PD_mattress div {
    width: 197px;
    height: 120px;
}

.PD_mattress h2 {
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.PD_mattress a, .pdinfo a {
    display: inline-block;
    font-size: 22px;
    border: 1px solid #000000;
    background: transparent;
    padding: 15px 30px;
    font-family: "Overpass", sans-serif;
    margin-top: 22px;
    width: 130px;
    height: 35px;
    transition: 0.3s ease;
}

.PD_mattress a:hover, .pdinfo a:hover {
    background: rgba(140, 157, 150, .8);
    border: 1px solid  white;
    color: #fff;
}

/* Mattress list */

.pdinfo{
    list-style: none;
    transition: 0.3s ease;
    padding-left: 45px;
    display: flex;
    margin-right: 150px;
}
.pdinfo a{
    color: #fff;
}
.whole,.whole img{
    background: black;
    width: 330px; height: 480px;
}
.whole img{
    position: relative;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}
.whole div{
    position: absolute;
    top: 100px;
    color: #fff;
    font-size: 22px;
    font-family: "Roboto Slab";
    font-weight: 300;
    left: 40%;
    top: 160px;
    line-height: 40px;
    opacity: 0;
    text-align: center;
}
.pdinfo:hover{
    margin-top: -50px;
}
.pdinfo:hover .imtext{ 
    display: block;
    text-align: center;
    opacity: 1;
}
.pdinfo:hover img{
    opacity: 0.5;
}
.PD_mattress li{
    list-style: none;
}
.imtext a{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
#go-top{
    width: 48px;
    height: 48px;
    bottom: 100px;
    right: 200px;
    line-height: 48px;
    position: fixed;
    border: 1px solid #26231e;
    text-align: center;
    color:rgba(38, 35, 30, .7);
    background:	rgba(217, 206, 193, .5);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}
#go-top.active{
	opacity: 1;
	pointer-events: auto;
}
/* Background images for mattress list */
/* TAB-MENU */
.tabs{
    /* z-index: -1; */
    margin-top: 150px;
    position: relative;
}
.tab-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: -40px;

}
.tab-menu li{
    list-style: none;
    border-bottom: 5px solid gray;
    font-family: "Overpass", sans-serif;
}
.tab-menu li a{
    letter-spacing: 2px;
    color: gray; 
}
.tab-menu li a.active{
    color: black;
    border-bottom: 5px solid black;
}
#tab-content {
    position: relative;
}
#tabs-1 img{
    height: 500px;
    /* margin: 0 auto; */
    /* position: relative; */
}
#tabs-1{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
#tabs-1 div{
    /* display: none; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    left: calc(50% - 60px);
    top: 60px;
    color: white;
}

/* FOOTER */
footer .company{
    width: 200px;
    text-align: center;
    margin-right: 130px;
}
footer .company h2{
    margin-bottom: 50px;
    font-family: "Roboto Slab";
    font-size: 30px;
    padding-left: 40px;
    text-decoration: underline;
}
footer .sns {
    display: flex;
}
.sns a{
    color: #fff;
}
footer .sns li{
    display: inline-block;
    text-align: center;
    width: 60px;
}
footer .ftnav{
    margin-top: 50px;
    display: flex;
    padding: 60px 0;
    justify-content: center;
    color: #D9CEC1;
    background: rgba(0,0,0,.8); 
}
footer nav{ 
    display: flex;
    text-align: center;
    gap: 130px;
}
footer nav dt{
    font-size: 24px;
    font-family: "Roboto Slab";
    letter-spacing: 5px;
    margin-bottom: 30px;
}
footer nav dd{
    font-size: 16px;
    font-family: "Roboto Slab";
    letter-spacing: 1px;
    margin-bottom: 20px;
}

footer dd a{
    color: #D9CEC1;
}
