@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --container: 1320px;
    --txt-color: #000000;
}

/* Reset default margin */
* {
    margin: 0;
}

/* Container styling */
.container {
    width: var(--container);
    margin: 0 auto;
}

/* Header */
header .slidewrapper {
    margin-bottom: 180px;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.top_nav {
    height: 100px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.logo a {
    background: url(../images/header_logo.png) no-repeat;
    width: 79px;
    height: 52px;
    text-decoration: none;
    text-indent: -9999em;
    display: block;
}

a {
    color: #333;
    text-decoration: none;
}

/* Navigation */
nav ul li {
    list-style: none;
}

.container ul li {
    width: 140px;
    position: relative;
    text-align: center;
}

.menuLink:hover .dropdown li {
    display: block;
    text-align: center;
    top: 10px;
}

.menuLink ul a {
    color: white;
}

.menuLink ul a:hover {
    color: #fff;
}

.icon {
    display: flex;
}

.icon .login {
    width: 22px;
    height: 35px;
    gap: 42px;
}

.icon:hover ul {
    display: block;
    text-align: center;
}

.login li a {
    color: white;
}

/* Dropdown menu */
.dropdown {
    padding: 0;
}

.dropdown li {
    width: 140px;
    position: absolute;
    font-size: 14px;
    display: none;
    border: 1px solid black;
    background: #333;
}

.dropdown li a {
    line-height: 40px;
}

.dropdown li:hover {
    background: #8C9D96;
    font-weight: bold;
    transition: ease 1s;
}

/* Main menu */
.main_menu {
    display: flex;
    text-align: center;
}

.main_menu li {
    font-weight: bold;
    gap: 65px;
}

/* Slide */
.slidewrapper {
    position: relative;
    background: url(../images/header_banner_hotel_img.jpg) no-repeat;
    background-size: 100% 500px;
    height: 500px;
    z-index: -1;
    width: 100%;
}

.slidewrapper .fbutton {
    position: absolute;
    top: 50%;
}

.slidewrapper .left {
    left: 100px;
}

.slidewrapper .right {
    right: 100px;
}

/* Search */
.search {
    width: var(--container);
    height: 50px;
    position: relative;
}

.search .borderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 0 10px 600px;
}
.borderbox option{
    background: rgba(140, 157, 150, .5);
}

select{
    border: none;
    border-bottom: 1px solid #000000;
}

#size {
    width: 155px;
    height: 25px;
}

#hardness {
    width: 170px;
    height: 25px;
    margin-left: 40px;
}

.found {
    height: 25px;
    width: 220px;
    text-align: center;
    margin: 0 10px 0 30px;
    border: none;
    border-bottom: 1px solid #000;
}
.see {
    width: 30px;
    height: 30px;
    border: 1px solid #8C9D96;
    color: black;
}

/* Product slide */
.product_slidewrapper {
    display: flex;
    height: 480px;
    margin-top: 120px;
}

.PD_mattress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PD_mattress div {
    width: 197px;
    height: 120px;
}

.PD_mattress h2 {
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.PD_mattress button {
    display: inline-block;
    font-size: 22px;
    border: 1px solid #000000;
    background: #fff;
    padding: 15px 30px;
    font-family: "Overpass", sans-serif;
    margin-top: 22px;
    width: 197px;
    height: 57px;
}

.PD_mattress button:hover {
    background: rgba(140, 157, 150, .5);
    transition: 0.3s;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
    border: 1px solid #000000;
}
.PD_mattress button:hover a{
    transition: 0.3s;
    color: #fff;
}

/* Mattress list */
.mt_list {
    padding: 0 0 0 55px;
    display: flex;
    gap: 20px;
    position: relative;
    /* margin-top: 50px; */
}

.mt_list .mt {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    vertical-align: middle;
    /* gap: 10px; */
    transition: 0.3s;
    
    /* display: none; */
}
.mtl:hover .mt{
    display: flex;
    text-align: center;
    gap: 10px;
    background: rgba(0,0,0,.5);
}
.mtl:hover{
    margin-top: -50px;
    transition: 0.3s ease;
}
.mtl button:hover {
    background: rgba(140, 157, 150, .7);
    transition:ease-out 0.3s;
}

.mt_list .mtl {
    width: 330px;
    height: 480px;
    list-style: none;
    /* gap: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.mt_list button {
    display: inline-block;
    font-size: 22px;
    border: 1px solid #fff;
    background: none;
    text-align: center;
    padding: 15px 30px;
    width: 200px;
    height: 50px;
    font-family: "Overpass", sans-serif;
    color: #fff;
}

.mt_list button>a {
    color: #fff;
}

.mt_list h4 {
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.mt_list p {
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    font-family: "Overpass", sans-serif;
    text-align: center;
}
/* Background images for mattress list */
.mtlist1 {
    background: url(../images/copy1.jpg) no-repeat;
}

.mtlist2 {
    background: url(../images/copy1.jpg) no-repeat;
}

.mtlist3 {
    background: url(../images/copy1.jpg) no-repeat;
}

.mtlist4 {
    background: url(../images/copy1.jpg) no-repeat;
    display: none;
}